{% extends 'base.html.twig' %}

{% block title %}Find all pins {% endblock %}

{% block body %}
  {% if pins|length > 0 %}
    <h1 class=" mb-4 mt-5 text-center text-muted "> {{ pluralize (pins | length, 'Pin', 'Pins') }} </h1>
    
    {% for pin in pins %}
    
        <article>
            <img src="{{pin.imageName ? vich_uploader_asset(pin,'imageFile') : asset | imagine_filter('images_small')}}" alt="{{pin.title}}"/>
            <h1><a href="{{ path('app_pin_show', {id:pin.id}) }}">{{pin.title}}</a></h1>
            <p>{{pin.description }}</p>
            <p>submitted {{pin.createdAt | ago }}</p>
  
        </article>
    {% endfor %}
     {% else %}
       <p class="h1 mt-5 text-center">Aucun Pin pour l'instant <a href="{{path('app_pin_create')}}">Soyez le premier </a>
   {% endif %} 
{% endblock %}
