{% extends 'base.html.twig' %}

{% block title %} {{pin.title}} {% endblock %}

{% block body %}
    <h1> {{ pin.tiltle }} </h1>
    
    {% for pin in pins %}
    
        <article>
            <h1><a href="{{ path('app_pin_show', {id:pin.id}) }}">{{pin.title}}</a></h1>
            <p>{{pin.description }}</p>
        </article>
    {% endfor %}
{% endblock %}
